<% include ./../_layouts/top %>

  <div class="container">
    <h1>List of Todos</h1>

    <ul>

    <% todos.forEach(function(todo) { %>

		<li style="list-style:none; margin-bottom:2em;">
			<input type="checkbox" disabled <%= (todo.done ? "checked" : "") %> >
			<%= todo.title %>
			(<a href="/todos/delete/<%=todo.id%>">delete</a>)<br>
			<small><%= todo.description %></small>
		</li>

	<% }) %>
	</ul>

	<a href="/todos/new" class="btn btn-success" >+ New</a>

  </div>

<% include ./../_layouts/bottom %>