<% include _layouts/top %>

  <div class="jumbotron">
    <h1>Todo NaNet</h1>
    <p>Nesta aplicação é possível gerir listas de tarefas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis modi unde totam illum, in necessitatibus possimus non incidunt nesciunt tempore aspernatur repellendus, harum numquam consequuntur, vel. Tenetur optio eaque soluta?</p>
    <p>invocant luteo epiclastic parroter dogbite unsisterliness lambiness Eunomianism phyllomorphic unenviably solenoconch psychiatrically slaughter ovicide brickel Amphion Kashube pectinatopinnate fjerding niggery infarct ringtime compelling cnemial. sulphureous disject Chumashan jetty incompletely metalloplastic seroreaction unfreighted sherifate emotive gashliness autogenic kaha odoriferosity cibory hobnailer inch parturient pedagogic Bimini cypre fetishize slicer campaniliform</p>
    <p>
      <a class="btn btn-lg btn-primary" href="/todos" role="button">ver Tarefas &raquo;</a>
    </p>
  </div>

<% include _layouts/bottom %>