<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/navbar.css" rel="stylesheet">
    <link href="/todo-styles.css" rel="stylesheet">
  </head>

  <body>

    <%
    function mainMenuLink(url, title) {
      var klass = isActive(url) ? "class='active'" : "";
      return "<li " + klass + "><a href='" + url + "'>" + title + "</a></li>";
    } %>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Todo NaNet</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <%- mainMenuLink("/", "Início") %>
              <li><a href="/todos">Tarefas</a></li>
              <li><a href="/contact">Contactos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/login">Entrar</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <% if(getMessages().length > 0) { %>
      <div class="row" >
        <% getMessages().forEach(function(message) { %>
        <div class="alert alert-<%=message.severity%>"><%=message.message%></div>
        <% }) %> 
      <div>
      <% } %>

